/* Fonts */
@import url('https://fonts.cdnfonts.com/css/casino');


/* Body */
body {
    margin: auto;
    background-color: darkolivegreen;
}

/* IDs */
#your-bet,
#dealer-bet {
    text-align: center;
    border: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 5px;

}

#your-cards,
#dealer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blackjack-buttons {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}



#WIN-OR-LOSE {
    text-align: center;
}

#WIN-OR-LOSE p {
    font-size: 5em;
}



/* Classes */

/* Headers */
h1 {
    font-family: 'Casino 3D', sans-serif;
    color: rgb(54, 15, 0);
}

/* Paragraphs */
p {
    font-family: 'Casino 3D', sans-serif;
    color: rgb(54, 15, 0);
}

/* Buttons */
button {
    font-family: 'Casino 3D', sans-serif;
    font-size: 2vw;
    width: 6em;
    height: 7vh;
    color: rgb(54, 15, 0);
}


/* Images */
img {
    width: 7%;
    padding-left: 15px;
    padding-right: 15px;
}